
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fef0cc;
    overflow: hidden;
}

header {
    background-color: #d99e37;
    color: white;
    text-align: center;
    padding: 0.2em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.1em 0;
    margin-top: auto;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.playArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board
{
    background-color: #4b4b4b;

    border-color: #282828;
    border-radius: 1.5vw;
    border: 0.1rem solid;

    text-align: center;
    padding: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.board.placementBoard
{
    padding-right: 1vw;
    padding-left: 1vw;

    .placementDirectionText
    {
        font-size: 1.4vw;
        color: #fff9ea;
        margin: 1vw;
    }
}

.board.cardSpawnBoard
{
    margin-top: 2vw;
}

.board.checkButtonBoard
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    padding: 0;
    padding-right: 0.8vw;
    padding-left: 0.8vw;
    border-top: 0;

    .checkButton
    {
        width: 7vw;
        aspect-ratio: 2/1;
        border-radius: 0.6rem;
        padding: 0;

        font-size: 1.6vw;
        color: #fff9ea;
    }

    .attemptCounter
    {
        font-size: 2vw;
        color: #fff9ea;
        margin-left: 1.4vw;
    }
}

.cardShape
{
    width: 10vw;
    height: 14vw;
    border-radius: 1vw;
}

.cardShape.cardPlacement
{
    background-color: #d3d3d364;
    text-align: center;
    border: 0.1rem solid;
    border-color: #69696981;
    margin: 0.4vw;
}

.cardShape.cardSpawn
{
    border: 0.2rem dashed;
    border-color: #353535;

    user-select: none;
    cursor: grab;

    margin: 0.4vw;
}

.cardShape.card {
    background-color: #ffd697;
    text-align: center;
    border: 0.2rem solid;
    border-color: #b3976a;
    padding-top: 0.4vw;

    user-select: none;
    cursor: grab;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img{
        width: 75%;
        aspect-ratio: auto;
        border-radius: 0.5rem;
        user-select: none;
    }

    H3
    {
        font-size: 0.9vw;
        color: #333;
        margin: 0;
        margin-bottom: 0.5vw;
    }
}

.cardShape.card.correctPlacement
{
    background-color: #9aff2d;
    cursor: pointer;
}

.cardShape.card.incorrectPlacement
{
    background-color: #ff2d2d;
}