:root {
    --card-width: 8vw;
    --card-height: calc(var(--card-width) * 1.5);

    --card-border-radius: 1vw;
    --board-border-radius: 1.5vw;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fef0cc;
    overflow: hidden;
}

header {
    background-color: #d99e37;
    color: white;
    text-align: center;
    padding: 0.2em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.1em 0;
    margin-top: auto;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.playArea
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
}

.board
{
    padding: 2vw;
    padding-right: 1vw;
    padding-left: 1vw;

    background-color: #4b4b4b;
    text-align: center;
    border-radius: var(--board-border-radius);
    border: 0.1rem solid;
    border-color: #282828;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.cardPlacement
{
    height: var(--card-height);
    width: var(--card-width);
    background-color: #d3d3d364;
    text-align: center;
    border-radius: var(--card-border-radius);
    border: 0.1rem solid;
    border-color: #69696981;
    margin: 0.4vw;
}

.placementDirectionText
{
    font-size: 1.4vw;
    color: #fff9ea;
    margin: 1vw;
}

.checkButtonPanel
{
    padding-right: 0.8vw;
    padding-left: 0.8vw;

    background-color: #4b4b4b;
    text-align: center;
    border-bottom-left-radius: var(--board-border-radius);
    border-bottom-right-radius: var(--board-border-radius);
    border: 0.1rem solid;
    border-top: 0;
    border-color: #282828;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.checkButton
{
    width: 7vw;
    aspect-ratio: 2/1;
    border-radius: 0.6rem;
    padding: 0;

    font-size: 1.6vw;
    color: #fff9ea;
}

.attemptCounter
{
    font-size: 2vw;
    color: #fff9ea;
    margin-left: 1.4vw;
}

.cardSpawnBoard
{
    padding: 2vw;
    background-color: #565656;
    text-align: center;
    border-radius: var(--board-border-radius);
    border: 0.1rem solid;
    border-color: #585858;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

    margin-top: 2vw;
}

.cardSpawn
{
    height: var(--card-height);
    width: var(--card-width);

    border-radius: var(--card-border-radius);
    border: 0.2rem dashed;
    border-color: #353535;

    user-select: none;
    cursor: grab;

    margin: 0.4vw;
}

.card {
    height: var(--card-height);
    width: var(--card-width);
    background-color: #ffd697;
    text-align: center;
    border-radius: var(--card-border-radius);
    border: 0.2rem solid;
    border-color: #b3976a;
    padding-top: 0.4vw;

    user-select: none;
    cursor: grab;

    position: absolute;

    img{
        width: 80%;
        aspect-ratio: auto;
        border-radius: 0.5rem;
        user-select: none;
    }

    H3
    {
        font-size: 0.9vw;
        color: #333;
        margin-top: 0;
    }
}

.correctPlacement
{
    background-color: #9aff2d;
    cursor: pointer;
}